* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul, ol, li, dl, dd, dt {
    list-style: none;
}

img {
    margin: 0;
    vertical-align: top
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.kui-col-xs1,
.kui-col-xs2,
.kui-col-xs3,
.kui-col-xs4,
.kui-col-xs5,
.kui-col-xs6,
.kui-col-xs7,
.kui-col-xs8,
.kui-col-xs9,
.kui-col-xs10,
.kui-col-xs11,
.kui-col-xs12,
.kui-col-sm1,
.kui-col-sm2,
.kui-col-sm3,
.kui-col-sm4,
.kui-col-sm5,
.kui-col-sm6,
.kui-col-sm7,
.kui-col-sm8,
.kui-col-sm9,
.kui-col-sm10,
.kui-col-sm11,
.kui-col-sm12,
.kui-col-md1,
.kui-col-md2,
.kui-col-md3,
.kui-col-md4,
.kui-col-md5,
.kui-col-md6,
.kui-col-md7,
.kui-col-md8,
.kui-col-md9,
.kui-col-md10,
.kui-col-md11,
.kui-col-md12 {
    float: left;
}

@media (max-width: 768px) {
    .kui-col-xs1 {
        width: 8.33333333%;
    }

    .kui-col-xs2 {
        width: 16.66666667%;
    }

    .kui-col-xs3 {
        width: 25%;
    }

    .kui-col-xs4 {
        width: 33.33333333%;
    }

    .kui-col-xs5 {
        width: 41.66666667%;
    }

    .kui-col-xs6 {
        width: 50%;
    }

    .kui-col-xs7 {
        width: 58.33333333%;
    }

    .kui-col-xs8 {
        width: 66.66666667%;
    }

    .kui-col-xs9 {
        width: 75%;
    }

    .kui-col-xs10 {
        width: 83.33333333%;
    }

    .kui-col-xs11 {
        width: 91.66666667%;
    }

    .kui-col-xs12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .kui-col-sm1 {
        width: 8.33333333%;
    }

    .kui-col-sm2 {
        width: 16.66666667%;
    }

    .kui-col-sm3 {
        width: 25%;
    }

    .kui-col-sm4 {
        width: 33.33333333%;
    }

    .kui-col-sm5 {
        width: 41.66666667%;
    }

    .kui-col-sm6 {
        width: 50%;
    }

    .kui-col-sm7 {
        width: 58.33333333%;
    }

    .kui-col-sm8 {
        width: 66.66666667%;
    }

    .kui-col-sm9 {
        width: 75%;
    }

    .kui-col-sm10 {
        width: 83.33333333%;
    }

    .kui-col-sm11 {
        width: 91.66666667%;
    }

    .kui-col-sm12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .kui-col-md1 {
        width: 8.33333333%;
    }

    .kui-col-md2 {
        width: 16.66666667%;
    }

    .kui-col-md3 {
        width: 25%;
    }

    .kui-col-md4 {
        width: 33.33333333%;
    }

    .kui-col-md5 {
        width: 41.66666667%;
    }

    .kui-col-md6 {
        width: 50%;
    }

    .kui-col-md7 {
        width: 58.33333333%;
    }

    .kui-col-md8 {
        width: 66.66666667%;
    }

    .kui-col-md9 {
        width: 75%;
    }

    .kui-col-md10 {
        width: 83.33333333%;
    }

    .kui-col-md11 {
        width: 91.66666667%;
    }

    .kui-col-md12 {
        width: 100%;
    }
}

.max-width {
    max-width: 1514px;
    margin: 0 auto;
}

header {
    width: 100%;
    background: url("../images/headerbg.jpg") no-repeat center center;
}

.header-navCon {
    background: #202020;
}

.header-NR {
    outline: none;
}

.ROW {
    overflow: hidden;
    text-align: right;
    background: url("../images/RowImg.jpg") no-repeat center top;
    width: 100%;
}

.ROW h2 {
    color: #000000;
    font-weight: normal;
}

.ROW p {
    font-size: 14px;
    color: #262626;
    line-height: 25px;
    text-align: right;
}

.ROWS {
    overflow: hidden;
    background: url("../images/RowImgs.jpg") no-repeat center top;
    width: 100%;
}

.ROWS h2 {
    color: #fff;
    font-weight: normal;
}

.ROWS p {
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}

.ROWBtn a, .ROWBtns a {
    font-weight: bold;
}

.BOTTON {
    margin-top: 10px;
    overflow: hidden;
}

.mouleDiv {
    width: 100%;
}

.mouleML {
    background: url("../images/bottom1.jpg") no-repeat center top;
}

.mouleLeft {

}

.BR1 {
    height: 100%;
    background: url("../images/BR1.jpg") no-repeat center top;
    background-size: cover
}

.BR2 {
    height: 100%;
    background: url("../images/BR2.jpg") no-repeat center top;
    background-size: cover
}

.aboutCon {
    overflow: hidden;
}

.aboutLeftL {

}

.aboutLeftL h2 {
    width: 100%;
}

.aboutLeftL h2 img {
    width: 100%;
}

.aboutLeftLBtns {
    width: 120px;
    height: 44px;
    background: #f2ad17;
    text-align: center;
    line-height: 44px;
    margin: 44px 0 0 0;
}

.aboutLeftLBtns a {
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
    height: inherit;
}

.aboutLeftR h2 {
    font-size: 30px;
    font-weight: normal;
    color: #00a4bf;
    height: 73px;
    line-height: 73px;
    overflow: hidden;
}

.aboutLeftR h3 {
    line-height: 22px;
    color: #000;
    font-weight: normal
}

.aboutLeftR p {
    margin-top: 30px;
    width: 100%;
}

.aboutLeftR p img {
    width: 70%;
}

.aboutBanner {
    height: 240px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.aboutLTitle {
    overflow: hidden;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.aboutLTitle h2 {
    float: left;
}

.aboutLTitle h2 img {
}

.aboutLTitle h3 {
    float: left;
    color: #00a4bf;
    font-weight: normal;
    margin-left: 12px;
}

.aboutBannerUl {
    width: 200%;
    overflow: hidden;
    height: 240px;
    position: relative;
}

.aboutBannerUl ul {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.aboutBannerUl li {
    float: left;
    overflow: hidden;
    width: 20%;
    height: 120px;
    text-align: center;
    display: table;;
}

.aboutBannerUl li img {
    width: 80%;
    max-height: 120px;
}

.ABDiv {
    height: inherit;
    display: table-cell;
    vertical-align: middle
}

.ABDiv img {
}

@media (max-width: 992px) {
    .head-top {
        display: none;
    }

    header {
        height: 482px;
        background-size: cover;
    }

    .logo {
        display: none;
    }

    .header-navCon {
        height: 63px;
        width: 100%;
        position: relative;
        z-index: 999;
    }

    .logoimg {
        float: left;
    }

    .logoimg img {
        margin: 10px 0 0 23px;
    }

    .header-NR {
        height: 63px;
        float: right;

    }

    .header-NR h2 {
        display: none
    }

    .header-NR h3 {
        display: none;
    }

    .menu {
        display: none;
        border-top: 1px solid #4a4a4a;
        padding-bottom: 50px;
        position: relative;
        z-index: 999;
    }

    .menu ul {
    }

    .menu ul li {
        font-size: 14px;
        line-height: 45px;
        padding-left: 15px;
    }

    .menu ul li a {
        color: #fff;
    }

    .navButton {
        float: right;
    }

    .navButton img {
        margin-top: 23px;
        width: 50%;
    }

    nav {
        /*padding-top: 63px;*/
        background: #202020;
        position: fixed;
        top: 63px;
        left: 0;
        width: 100%;

    }

    .headCMain {
        display: none;
    }

    .header-con {
        margin-top: 14em;
        padding-left: 1.2em;
    }

    .headCTitle {
        width: 80%;
    }

    .headCTitle img {
        width: 100%;
        height: inherit;
    }

    .headCTit {
        font-size: 20px;
        color: #fff;
        margin-top: 5px;
    }

    .headMobile {
        width: 84%;
        margin: 3rem auto;
        overflow: hidden;
    }

    .headImgUl {
        overflow: hidden;
    }

    .headImgUl li {
        float: left;
    }

    .headIUL {
        width: 100%;
        height: 10%;
        overflow: hidden;
        position: relative;
    }

    .headIUL img {
        width: 100%;
    }

    .headIUL p {
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        height: 2.5em;
        font-size: 24px;
        color: #fff;
        background: #f2ad17;
        text-align: center;
        line-height: 2.5em;
    }

    .headImgUl li h2 {
        font-size: 16px;
        color: #000;
        font-weight: normal;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }

    .rollUl {
        height: 9px;
        margin: 7px auto;
        overflow: hidden;
        width: 60%;
    }

    .rollUl li {
        /*width: 18%;*/
        height: 30%;
        background: #c1c1c1;
        float: left;
        /*margin: 0 15px;*/
    }

    .activeMLi {
        background: #9b1616 !important;
    }

    .itemsColCL p {
        display: none;
    }

    .itemsColCL h2 {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    .itemsColCR {
        border: 1px solid #fff;
        width: 60%;
        margin: 15px auto 0;
        text-align: center;
    }

    .itemsColCR a {
        padding: 10px 0;
        font-size: 14px;
        font-family: Arial;
        color: #fff;
        font-weight: bold;
        display: block;
        width: 100%;
    }

    .itemsColC {
        padding: 7em 0 3em 0;
        margin: 0 0 0.8em 0;
    }

    .COL {
        padding: 0 15px;
        margin-top: 20px;
    }

    .itemsCol {
        width: 96%;
        margin: 0 auto 0.7em;
        height: 15em;
        overflow: hidden;
    }

    .itemsCol1 {
        background: url("../images/xscol1.jpg") no-repeat center top;
        background-size: cover;
    }

    .itemsCol2 {
        background: url("../images/xscol2.jpg") no-repeat center top;
        background-size: auto;
    }

    .itemsCol3 {
        background: url("../images/xscol3.jpg") no-repeat center top;
        background-size: auto;
    }

    .itemsCol4 {
        background: url("../images/xscol4.jpg") no-repeat center top;
        background-size: auto;
    }

    .ROW {
        height: 220px;
        padding-bottom: 100px;
    }

    .ROW h2 {
        font-size: 30px;
        line-height: 60px;
        margin-top: 70px;
        padding-right: 10%;
    }

    .ROW p {
        padding-right: 10%;
    }

    .ROWBtn {
        width: 150px;
        height: 40px;
        border: 1px solid #5c5c5c;
        text-align: center;
        line-height: 44px;
        float: right;
        margin: 35px 10% 0 0;
    }

    .ROWBtn a {
        font-size: 14px;
        color: #676767;
        display: block;
        width: 100%;
        height: inherit;
    }

    .ROWS {
        height: 220px;
        padding-bottom: 100px;
    }

    .ROWS h2 {
        font-size: 30px;
        line-height: 60px;
        margin-top: 70px;
        padding-left: 10%;
    }

    .ROWS p {
        padding-left: 10%;
    }

    .ROWBtns {
        width: 150px;
        height: 40px;
        border: 1px solid #fff;
        text-align: center;
        line-height: 44px;
        margin: 35px 0 0 10%;
    }

    .ROWBtns a {
        font-size: 14px;
        color: #fff;
        display: block;
        width: 100%;
        height: inherit;

    }

    .mouleML {
        /*padding-bottom: 68px;*/
        overflow: hidden;
        background-size: cover;

    }

    .BOTTON {
        height: 474px;
        overflow: hidden;
    }

    .mouleLeft {
        padding: 290px 0 70px 0;
        background: rgba(0, 0, 0, 0.5);

    }

    .mouleDiv {
    }

    .mouleDiv h2 {
        text-align: center;
        font-size: 30px;
        line-height: 60px;
        /*margin-top: 1.4em;*/
        color: #fff;
        font-weight: normal;
    }

    .mouleDiv p {
        display: none;
    }

    .mouleDivBtns {
        width: 150px;
        height: 40px;
        border: 1px solid #fff;
        text-align: center;
        line-height: 44px;
        margin: 12px auto 0;
    }

    .mouleDivBtns a {
        font-size: 14px;
        color: #fff;
        display: block;
        width: 100%;
        height: inherit;
    }

    .BRDC {
        padding: 80px 0 0 0;
    }

    .aboutLeft {
        padding: 119px 0 0 20px;

    }

    .aboutLeftR {
        padding: 35px 30px 0 30px;
    }

    .aboutLeftR h3 {
        font-size: 14px;
    }

    .aboutLeft {
        padding-bottom: 120px;
    }

    .aboutSM {
        width: 90%;
        margin: 0 auto;
    }

    .aboutLTitle {
    }

    .aboutLTitle h2 {
        /*width: 45%;*/
        height: 10%;

    }

    .aboutLTitle h2 img {
        max-width: 200px;
        width: 100%;
    }

    .aboutLTitle h3 {
        font-size: 24px;
        line-height: 30px;
        padding-top: 4px;

    }

    .footLeftCC {
        display: none;
    }

    .foot-foot {
        display: none
    }

    .footLeftLogo {
        display: none;
    }

    footer {
        background: #878787;
        width: 100%;
        margin-top: 80px;
    }

    .footBt-logo {
        width: 38%;
        padding-top: 25px;
    }

    .footBt-logo img {
        width: 100%;
    }

    .footRight {
        margin-top: 60px;
        padding-bottom: 40px;
    }

    .footRight ul {
        overflow: hidden;
        margin: 0 auto;
        width: 78%;
    }

    .footRight ul li {
        float: left;

        text-align: center;
        width: 20%;
    }

    .footRight ul li a {
        display: block;
        width: 40px;
        height: 40px;
        border: 3px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto;
    }

    .footRight ul li img {
        margin-top: 8px;
        height: 24px;
    }

    .mFoot-foot {
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        color: #bdbdbd;
        border-top: 1px solid #fff;
        width: 96%;
        margin: 0 auto;
        text-align: center
    }

    .aboutBannerUl li img {
        width: auto !important;
    }

}

@media (min-width: 992px) {
    header {
        height: 1120px;
    }

    .head-top {
        background: rgba(0, 164, 191, 0.8);
        height: 40px;
        overflow: hidden;
        padding-right: 105px;
    }

    .head-topC {
        max-width: 1514px;
        margin: 0 auto;
    }

    .head-topC h2 {
        float: right;
        width: 50px;
        margin-top: 7px;
    }

    .header-nav {

    }

    .header-navCon {
        width: 98%;
        background: #202020;
        height: 146px;
        overflow: hidden;
    }

    .logo {
        float: left;
    }

    .logo img {
        margin: 49px 0 0 24px;
    }

    .logoimg {
        float: left;
        display: none;
    }

    .header-NR {
        float: right;
        padding-right: 65px;
        width: 65%;
    }

    .header-NR h2 {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        margin-top: 22px;
        text-align: right;
    }

    .header-NR h3 {
        font-size: 12px;
        font-weight: normal;
        color: #785f1c;
        font-family: Arial;
        margin-top: 4px;
        text-align: right;
    }

    nav {
        width: 914px;
        border-bottom: 1px solid #4a4a4a;
    }

    .menu {
        height: 51px;
        margin-top: 13px;

    }

    .menu ul {
        overflow: hidden;
    }

    .menu ul li {
        float: left;
        width: 73px;
        margin-right: 53px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
    }

    .menu ul li a {
        color: #fff;
    }

    .menu ul li:hover {
        border-bottom: 3px solid #fff;
    }

    .activeLi {
        border-bottom: 3px solid #fff;
    }

    .navButton {
        display: none;
    }

    .header-con {
        margin-top: 330px;
    }

    .headCTitle {
    }

    .headCTitle img {
    }

    .headCTit {
        font-size: 30px;
        color: #fff;
        margin-top: -5px;
    }

    .headCMain {
        /*overflow: hidden;*/
        margin-top: 28px;
    }

    .headCMain-Left {
        float: left;
        width: 31.5%;
        background: url("../images/headCL.jpg") no-repeat left top;
        height: 270px;
        overflow: hidden;
    }

    .headCMain-Left h2 {
        margin: 18px 0 0 8px;
    }

    .headCMain-Left h2 img {
    }

    .headCMain-Left h3 {
        display: inline-block;
        height: 55px;
        background: #f2ad17;
        font-weight: normal;
        padding: 0 20px 0 16px;
        margin-top: 56px;
    }

    .headCMain-Left h3 p {
        font-size: 20px;
        color: #fff;
    }

    .headCMain-Right {
        float: right;
        width: 62%;
        /*overflow: hidden;*/
        margin-right: 3.6%;
        height: 270px;
    }

    .headCMRL {
        float: left;
        width: 28%;
        background: rgba(0, 0, 0, 0.7);
        height: 270px;
        overflow: hidden;
        position: relative;
    }

    .headCMRL h3 {
        margin-top: 3px;
    }

    .headCMRL h2 {
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        padding: 0 60px 0 15px;
        line-height: 23px;
        height: 66px;
        overflow: hidden;
        margin-bottom: 12px;
    }

    .headCMRL p {
        overflow: hidden;
        height: 26px;
        line-height: 26px;
        margin: 0 15px;
    }

    .headCMRL p em {
        float: left;
        display: block;
        width: 15px;
        height: 15px;
        background: #9e9e9e;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        margin-top: 6px;
    }

    .headCMRL p em img {
        margin-top: 3px;
    }

    .headCMRL p span {
        float: left;
        font-size: 12px;
        color: #fff;
        padding-left: 13px;
        display: block;
        width: 75%;
        overflow: hidden;
    }

    .right-Row {
        position: absolute;
        bottom: 23px;
        right: 26px;
        z-index: 999;
    }

    .headItem {
        float: left;
        width: 44%;
        margin: 0 0 0 4%;
    }

    .headCMRR {
        width: 72%;
        background: rgba(255, 255, 255, 0.7);
        height: 270px;
        /*overflow: hidden;*/
        float: left;
        position: relative;
    }

    .headItemImg {
        width: 100%;
        height: 156px;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
    }

    .headItemImg img {
        width: 100%;
        height: 156px;
    }

    .headItemImg h3 {
        position: absolute;
        top: 0;
        right: 0;
        width: 62px;
        height: 56px;
        background: #f2ad17;
        font-size: 18px;
        color: #fff;
        font-family: Arial;
        font-weight: normal;
        text-align: center;
        line-height: 56px;
    }

    .headItemTitle {
        font-size: 16px;
        color: #000;
        height: 29px;
        line-height: 29px;
        overflow: hidden;
        margin-top: 9px;
    }

    .headItemCon {
        font-size: 12px;
        color: #7d7d7d;
        height: 22px;
        line-height: 22px;

    }

    .headItemCon span {
        display: block;
        float: left;
        width: 90%;
        overflow: hidden;
        height: 22px;
        line-height: 22px;
    }

    .headItemCon p {
        float: right;
        width: 17px;
        height: 17px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        background: #ababab;
    }

    .headItemCon p img {
        margin-top: 3px;
    }

    .headItemMore {
        width: 90px;
        height: 34px;
        font-size: 12px;
        background: #1d1d1d;
        text-align: center;
        line-height: 34px;
        position: absolute;
        right: -25px;
        bottom: -10px;
    }

    .headItemMore a {
        color: #fff;
        display: block;
        width: 100%;
        height: 34px;
    }

    .headMobile {
        display: none;
    }

    .container {
        margin-top: 2.5em;
    }

    .COL {
        overflow: hidden;
    }

    .itemsCol {
        width: 98%;
        margin: 0 1%;
    }

    .itemsColC {
        overflow: hidden;
        padding: 20em 0 2em 2em;
    }

    .itemsColCL {
        float: left;
        width: 52%;
    }

    .itemsColCL h2 {
        color: #fff;
        font-size: 40px;
        font-weight: normal;
        height: 65px;
        line-height: 65px;
    }

    .itemsColCL p {
        font-size: 16px;
        color: #fff;
        line-height: 28px;
        height: 60px;
        overflow: hidden;
    }

    .itemsColCR {
        float: right;
        width: 22%;
        background: #f2ad17;
        font-size: 14px;
        font-family: Arial;
        text-align: center;
        margin: 5.5em 1.5em 0 0;
    }

    .itemsColCR a {
        display: block;
        width: 100%;
        height: inherit;
        color: #fff;
        padding: 0.7em 0;
        font-family: Arial;
        font-weight: bold;
    }

    .itemsCol1 {
        background: url("../images/col1.jpg") no-repeat center top;
        background-size: auto;
    }

    .itemsCol2 {
        background: url("../images/col2.jpg") no-repeat center top;
        background-size: auto;
    }

    .itemsCol3 {
        background: url("../images/col3.jpg") no-repeat center top;
        background-size: auto;
    }

    .itemsCol4 {
        background: url("../images/col4.jpg") no-repeat center top;
        background-size: auto;
    }

    .ROW {
        height: 418px;
    }

    .ROW h2 {
        font-size: 40px;
        line-height: 88px;
        margin-top: 88px;
        padding-right: 180px;
    }

    .ROW p {
        padding-right: 180px;
    }

    .ROWBtn {
        width: 120px;
        height: 44px;
        background: #f2ad17;
        text-align: center;
        line-height: 44px;
        float: right;
        margin: 35px 180px 0 0;
    }

    .ROWBtn a {
        font-size: 16px;
        color: #000;
        display: block;
        width: 100%;
        height: inherit;
    }

    .ROWS {
        height: 332px;
    }

    .ROWS h2 {
        font-size: 40px;
        line-height: 88px;
        margin-top: 52px;
        padding-left: 180px;
    }

    .ROWS p {
        padding-left: 180px;
    }

    .ROWBtns {
        width: 120px;
        height: 44px;
        background: #f2ad17;
        text-align: center;
        line-height: 44px;
        margin: 35px 0 0 180px;
    }

    .ROWBtns a {
        font-size: 16px;
        color: #000;
        display: block;
        width: 100%;
        height: inherit;
    }

    .mouleML {
        padding-bottom: 68px;
    }

    .mouleLeft {
        padding: 400px 0 0 0;

    }

    .BOTTON {
        height: 689px;
        overflow: hidden;
    }

    .mouleDiv h2 {
        line-height: 103px;
        font-size: 40px;
        color: #fff;
        font-weight: normal;
        text-align: right;
        padding-right: 10%;
    }

    .mouleDiv p {
        font-size: 14px;
        color: #fff;
        line-height: 25px;
        text-align: right;
        padding-right: 10%;
    }

    .mouleDivBtns {
        width: 120px;
        height: 44px;
        background: #f2ad17;
        text-align: center;
        line-height: 44px;
        margin: 25px 0 0 0;
        float: right;
        margin-right: 10% !important;
    }

    .mouleDivBtns a {
        font-size: 16px;
        color: #fff;
        display: block;
        width: 100%;
        height: inherit;
    }

    .BRDC {
        padding-top: 66px;
    }

    .about {
        width: 100%;
        background: #ececec;
        margin-top: 30px;
    }

    .aboutLeft {
        padding-bottom: 165px;
    }

    .aboutCon {
        overflow: hidden;
    }

    .aboutLeftL {
    }

    .aboutLeft {
        padding-top: 80px;
    }

    .aboutLeftR {
        padding-top: 69px;
        padding-left: 30px;
    }

    .aboutLeftR h3 {
        font-size: 12px;
    }

    .aboutLTitle {

        margin-top: 170px;
    }

    .aboutLTitle h3 {
        font-size: 30px;
    }

    .aboutSM {
        width: 80%;
        margin: 0 auto;
    }

    footer {
        width: 100%;
        background: #131313;
    }

    .foot {
        overflow: hidden;
    }

    .footLeft {
        float: left;
        width: 50%;
        padding-top: 68px;
    }

    .footLeftCC {
        width: 68%;
        overflow: hidden;
        margin-left: 8%;
    }

    .footLeftCT {
        float: left;
        width: 50%;
    }

    .footLeftCT h2 {
        height: 28px;
        line-height: 28px;
        border-bottom: 1px solid #393939;
        color: #7a7a7a;
        font-size: 12px;
        font-weight: normal
    }

    .FLTH {
        font-size: 20px;
        font-family: Arial
    }

    .footLeftLogo {
        margin-left: 8%;
        margin-top: 57px;
    }

    .footRight {
        float: right;
        width: 50%;
        overflow: hidden;
    }

    .footRight ul {
        overflow: hidden;
        margin-top: 170px;
    }

    .footRight ul li {
        width: 57px;
        height: 57px;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #fff;
        margin: 0 3%;
        float: right;
        text-align: center
    }

    .footRight ul li a {
        display: block;
        width: 100%;
        height: inherit;
    }

    .footRight ul li a img {
        margin-top: 12px;
    }

    .foot-foot {
        margin-top: 3px;
        line-height: 30px;
        overflow: hidden;
    }

    .foot-foot h2 {
        float: left;
        font-family: Arial;
        font-size: 14px;
        color: #919191;
        font-weight: normal;
        margin-left: 4%;
    }

    .foot-foot h3 {
        float: right;
        font-weight: normal;
        margin-right: 1.5%;
        font-size: 14px;
        color: #919191;
    }

    .footBt-logo {
        display: none;
    }

    .mFoot-foot {
        display: none;
    }

}











